@import '../../vendor/filament/forms/dist/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.white-king {
    background-image: url('http://che.test/img/white-king.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.white-queen {
    background-image: url('http://che.test/img/white-queen.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.white-rook {
    background-image: url('http://che.test/img/white-rook.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.white-bishop {
    background-image: url('http://che.test/img/white-bishop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.white-knight {
    background-image: url('http://che.test/img/white-knight.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.white-pawn {
    background-image: url('http://che.test/img/white-pawn.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.black-king {
    background-image: url('http://che.test/img/black-king.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.black-queen {
    background-image: url('http://che.test/img/black-queen.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.black-rook {
    background-image: url('http://che.test/img/black-rook.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.black-bishop {
    background-image: url('http://che.test/img/black-bishop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.black-knight {
    background-image: url('http://che.test/img/black-knight.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.black-pawn {
    background-image: url('http://che.test/img/black-pawn.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
